.vs/WebApplication1/CopilotIndices/0.2.1657.32929/CodeChunks.db
.vs/WebApplication1/CopilotIndices/0.2.1657.32929/CodeChunks.db-shm
.vs/WebApplication1/CopilotIndices/0.2.1657.32929/CodeChunks.db-wal
.vs/WebApplication1/CopilotIndices/0.2.1657.32929/SemanticSymbols.db
.vs/WebApplication1/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-shm
.vs/WebApplication1/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-wal
WebApplication1/obj/Debug/net6.0/WebApplication1.AssemblyInfo.cs
WebApplication1/obj/Debug/net6.0/WebApplication1.AssemblyInfoInputs.cache
WebApplication1/obj/Debug/net6.0/WebApplication1.csproj.AssemblyReference.cache
WebApplication1/obj/Debug/net6.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
WebApplication1/obj/Debug/net6.0/WebApplication1.RazorAssemblyInfo.cache
WebApplication1/obj/Debug/net6.0/WebApplication1.AssemblyInfo.cs
WebApplication1/obj/Debug/net6.0/WebApplication1.AssemblyInfoInputs.cache
WebApplication1/obj/Debug/net6.0/WebApplication1.csproj.AssemblyReference.cache
WebApplication1/obj/Debug/net6.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
WebApplication1/obj/Debug/net6.0/WebApplication1.RazorAssemblyInfo.cache
